# Ignore node_modules directory
node_modules/

# Ignore npm's log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore any built or compiled files
build/
dist/
*.bundle.js

# Ignore environment-specific settings
.env

# Ignore any sensitive or private information
config.js
secrets.json